
<%= form_for(@cliente) do |f| %>



    <%= f.label :nome %>
    <%= f.text_field :nome%>
      <div class="help-inline">
        <%= error_tag @cliente, :nome %>
      </div>
    

  
  
    <%= f.label :tel %>
    <%= f.text_field :tel %>
  
    <%= f.label :cel %>
    <%= f.text_field :cel %>
 
 
    <%= f.label :email %>
    <%= f.text_field :email %>


  <div class="form-actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', clientes_path, :class => 'btn btn-primary' %>
  </div>

<% end %>
