
<%= simple_form_for(@cliente, :html => {:class => 'form-vertical' }) do |f| %>

    <%= f.input :nome %>
  
    <%= f.input :tel%>
      
    <%= f.input :cel %>
 
    <%= f.input :email %>

  <div class="form-actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', clientes_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
