<div id="total">
 Total: <%= number_to_currency(@cliente.consumos.sum {|c| c.quant * c.produto.valor}, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %> 
</div>
<p>
  <h3><%= @cliente.nome %></h3>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.tel %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.cel %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<br />

<h3>Histórico de consumo:</h3>
<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>    
    <th>Produto</th>
    <th>Data</th>
    <th>Valor Unit</th>
    <th>Quantidade</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
    <% @cliente.consumos.each do |consumo| %>
      <tr>
        <td><%= consumo.produto.descricao %></td>
        <td><%= consumo.created_at.to_s(:data_br) %></td>
        <td><%= number_to_currency(consumo.produto.valor, :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>
        <td><%= consumo.quant %></td>
        <td><%= number_to_currency((consumo.quant * consumo.produto.valor), :format => "%u %n", :separator => ",", :delimiter => ".", :unit => "R$") %></td>        
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Voltar', clientes_path, :class => 'btn btn-primary' %>
<%= link_to 'Adicionar Consumo', new_consumo_path(:cliente => @cliente.id), :class => 'btn btn-primary'%>
