<%= simple_form_for(@produto, :html => {:class => 'form-vertical' }) do |f| %>

    <%= f.input :descricao %>
  
    <%= f.input :valor %>

  <div class="form-actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', produtos_path, :class => 'btn btn-danger' %>
  </div>

<% end %>
