<h3>Lista de Produtos</h3>

<%= form_tag produtos_path, :method => 'get', :class => 'form-search', :id => 'produtos_search' do %>
  <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    <%= submit_tag "Consultar", :descricao => nil, :class => 'btn btn-primary' %>
<% end %>

<div id="produtos">
  <%= render 'produtos' %>  
</div>

<br />

<%= link_to 'Novo Produto', new_produto_path, :class => 'btn btn-primary' %>
