<%= simple_form_for(@consumo, :html => {:class => 'form-vertical' }) do |f| %>

<%= f.hidden_field :cliente_id, :value => @consumo.cliente.id %>
  <p>
    <h3><%= @consumo.cliente.nome %></h3>
  </p>
  <p>
    <b>Email:</b>
    <%= @consumo.cliente.email %>
  </p>
  
  <%= f.collection_select :produto_id, Produto.all, :id, :descricao, :include_blank => false %>
  
    <%= f.input :quant %>

  <div class="form-actions">
    <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', clientes_path, :class => 'btn btn-danger' %>
  </div>

<% end %>

